USER_NAME=
GROQ_API_KEY=
TOGETHER_AI=
TAVILY_API_KEY=
OPENROUTER_API_KEY=
REGOLO_API_KEY=
GEMINI_API_KEY=
DEEPGRAM_API_KEY=
CUSTOM_API_KEY=

TELEGRAM_API_ID=
TELEGRAM_API_HASH=

API_BASE_URL=https://jarvis-os-agent.vercel.app

FAST_BRAIN_API_KEY=
FAST_BRAIN_MODEL=
FAST_BRAIN_ENDPOINT=

CUSTOM_BASE_URL=
CUSTOM_MODEL=
CUSTOM_THINKING_ENABLED=true

AGENT_PRIMARY_PROVIDER=regolo
AGENT_FALLBACK_PROVIDER=gemini

ADB_PHONE_IP=100.86.189.109