.venv/
__pycache__/
.env
Data/SessionCookies/
Data/agent_status.json
Data/app_cache.json
Data/stt_status.json
Data/island_response.json
Data/jarvis_memory/
Data/Jarvis_Workspace/
Data/tavily_search.log
Data/typing_status.json
Data/UserProfile/
Data/RAG/
Bin/
**/node_modules/
**/node_modules/*
tools/Messanger/**/node_modules/
tools/Messanger/whatsapp/BaileysServer/package-lock.json
tools/Messanger/whatsapp/BaileysServer/node_modules/gopd/index.d.ts
tools/Messanger/whatsapp/BaileysServer/package.json
core/UiSrc/InputPopup/debug/
core/UiSrc/InputPopup/release/
core/UiSrc/InputPopup/.qtcreator/
core/UiSrc/InputPopup/.qmake.stash
core/UiSrc/InputPopup/Makefile*
core/UiSrc/SttPopup/debug/
core/UiSrc/SttPopup/release/
core/UiSrc/SttPopup/.qtcreator/
core/UiSrc/SttPopup/.qmake.stash
core/UiSrc/SttPopup/Makefile*
.DS_Store
Thumbs.db

#for temp
.txt
test_eagle.py