.venv/
__pycache__/
.env

Data/SessionCookies/
Data/agent_status.json
Data/app_cache.json
Data/stt_status.json
Data/island_response.json
Data/jarvis_memory/
Data/Jarvis_Workspace/
Data/RAG/
Proactive/
Bin/

core/UiSrc/InputPopup/debug/
core/UiSrc/InputPopup/release/
core/UiSrc/InputPopup/.qtcreator/
core/UiSrc/InputPopup/.qmake.stash
core/UiSrc/InputPopup/Makefile*

.DS_Store
Thumbs.db