# core / providers
groq
google-genai
google-auth
google-api-python-client
google-cloud-pubsub
chromadb
pypdf
pillow
python-dotenv

# voice
edge-tts
pyaudio
pvporcupine
deepgram-sdk
pygame
OpenWakeWord

# tools
tavily-python
arxiv
youtube-transcript-api
together
pywhatkit
twilio
pyperclip
screen-brightness-control
pycaw
psutil
comtypes
keyboard

# ui
PyQt5
markdown2
pygments
rich

# other
requests
beautifulsoup4
numpy
pyzmq
